[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"PyQt5" = "==5.11.2"
niapy = "==2.0.0rc2"

[dev-packages]
pyqt-distutils = "==0.7.3"
PyInstaller = "==3.4"
Sphinx = "==1.8.1"
sphinx_rtd_theme = "==0.4.2"
"e1839a8" = {path = ".", editable = true}
"flake8" = "*"
app = {editable = true, path = "."}
